/* Coolors Exported Palette - coolors.co/36393b-a5d8ff-afd0d6-bfb6bb-c49799 */

/* HSL */
$black: hsla(204%, 4%, 22%, 1);
$blue: hsla(206%, 100%, 82%, 1);
$pink: hsla(357%, 28%, 68%, 1);

/* RGB */
$black: rgba(54, 57, 59, 1);
$blue: rgba(165, 216, 255, 1);
$pink: rgba(196, 151, 153, 1);
