/* Coolors Exported Palette - coolors.co/36393b-a5d8ff-afd0d6-bfb6bb-c49799 */
/* HSL */
/* RGB */
img.rounded {
  border-radius: 50% !important; }

.btn.rounded {
  border-radius: 24px !important; }

body {
  background-color: #f7f7f7; }

.floating-action-fixed {
  position: fixed !important;
  top: 16px !important;
  right: 10px !important;
  z-index: 99; }

.btn {
  font-size: 12px;
  height: 32px;
  line-height: 30px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 24px; }
  .btn:focus {
    box-shadow: none; }
  .btn-green {
    background-color: #40BC90;
    box-shadow: 0px 2px 8px 0px rgba(64, 188, 144, 0.6);
    color: #fff !important; }
    .btn-green:hover {
      background-color: #3aa981; }
  .btn-pink {
    background-color: #DF6A6A;
    box-shadow: 0px 2px 8px 0px rgba(223, 106, 106, 0.6);
    color: #fff !important; }
    .btn-pink:hover {
      background-color: #da5555; }
