/* Coolors Exported Palette - coolors.co/36393b-a5d8ff-afd0d6-bfb6bb-c49799 */
/* HSL */
/* RGB */
img.rounded {
  border-radius: 50% !important; }

.btn.rounded {
  border-radius: 24px !important; }

body {
  background-color: #f7f7f7; }

#projects {
  height: 100vh; }
